.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# IntelliJ
/.idea/
*.iml
/private/
/out/

# dependencyUpdates output
report.txt

# Release files
c2e*.zip
c2e*.tar.gz
