<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="logs"/>

    <appender name="FILE-ENGINE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/c2e-error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return marker==null &amp;&amp; event.getLevel().toInt() == Level.ERROR_INT;</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/c2e-error_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>4MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-ENGINE-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/c2e-warn.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return marker==null &amp;&amp; event.getLevel().toInt() == Level.WARN_INT;</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/c2e-warn_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>4MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-ENGINE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/c2e-info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return marker==null &amp;&amp; event.getLevel().toInt() == Level.INFO_INT;</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/c2e-info_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>4MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-ENGINE-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/c2e-debug.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return marker==null &amp;&amp; event.getLevel().toInt() == Level.DEBUG_INT;</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/c2e-debug_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>4MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-ENGINE-TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/c2e-all.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/c2e-all_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>4MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE_ALL_TRACE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5p %m%n</pattern>
        </encoder>
    </appender>

    <logger name="tpa" level="error" additivity="false">
        <appender-ref ref="FILE-ENGINE-ERROR"/>
    </logger>
    <logger name="tpa" level="warn" additivity="false">
        <appender-ref ref="FILE-ENGINE-WARN"/>
    </logger>
    <logger name="tpa" level="info" additivity="false">
        <appender-ref ref="FILE-ENGINE-INFO"/>
    </logger>
    <logger name="tpa" level="trace" additivity="false">
        <appender-ref ref="FILE-ENGINE-TRACE"/>
    </logger>
    <logger name="tpa" level="debug" additivity="false">
        <appender-ref ref="FILE-ENGINE-DEBUG"/>
    </logger>

    <root level="trace" additivity="false">
        <appender-ref ref="FILE-ENGINE-ERROR"/>
        <appender-ref ref="FILE-ENGINE-WARN"/>
        <appender-ref ref="FILE-ENGINE-INFO"/>
        <appender-ref ref="FILE-ENGINE-TRACE"/>
        <appender-ref ref="CONSOLE_ALL_TRACE"/>
    </root>

</configuration>
