/* day css */

@font-face {
    font-family: 'Roboto Slab';
    src: url(data:application/font-woff2;charset=utf-8;base64,$$robotoFont_base64$$) format('woff');
}

body {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1em;
    color: #333;
    background-color: #FEFEFE;
    margin: 0;
    padding: 0;
    z-index: 100;
}

#burger {
    color: #2d34af;
    font-size: 1.25em;
    margin: 0;
    padding: 0.25em;
    position: fixed;
    top: 0.1em;
    right: 0.1em;
    border: 1px solid #DDD;
    border-radius: 0.25em;
    background-color: white;
    z-index: 1000;
}

#burger:hover {
    color: rgba(96, 108, 241, 0.85);
    cursor: pointer;
    text-decoration: none;
}

#toc {
    margin: 0.25em;
    padding: 0;
    position: fixed;
    top: 0.1em;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

@media (max-width: 474px) {
    #toc {
        /* burger should not mask ToC title */
        margin-top: 2.5em;
    }
}

.toc-columns-container {
    column-count: 1;
    column-gap: 1em;
    margin: 0;
    padding: 0;
}

@media (min-width: 475px) and (max-width: 949px) {
    .toc-columns-container {
        column-count: 2;
    }
}

@media (min-width: 950px) and (max-width: 1424px) {
    .toc-columns-container {
        column-count: 3;
    }
}

@media (min-width: 1425px) and (max-width: 1899px) {
    .toc-columns-container {
        column-count: 4;
    }
}

@media (min-width: 1900px) {
    .toc-columns-container {
        column-count: 5;
    }
}

.toc-title {
    margin: 0 0 0.5em;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid #FF0000;
}

.toc-category-title {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 0.5em 0.5em;
    padding: 0;
    border-bottom: 1px solid #666;
}

.toc-item-title {
    color: #555;
    font-size: 1em;
    font-weight: normal;
    margin: 0.75em;
    padding-left: 0.5em;
    border-left: 5px solid #00CDE6;
}

.toc-item-title:hover {
    border-left: 5px solid #429bdd;
}

.toc-item-title > a {
    color: #555;
    text-decoration: none;
}

.toc-item-title > a:hover {
    color: #333;
    text-decoration: underline;
}

.toc-item-title > a:visited {
    color: #777;
    text-decoration: none;
}

a.toc-ext-lnk {
    color: dodgerblue;
    background-color: lightcyan;
    font-size: 0.2em;
    margin-left: 0.7em;
    padding: 0.05em 0.3em;
}

#articles {
    visibility: hidden;
}

.category-title {
    background-color: yellowgreen;
    color: white;
    font-size: 2em;
    margin: 0;
    padding: 0.5em;
}

.article {
    margin: 0 1em 1em;
    padding-bottom: 3em;
}

.news {
    margin: 0 1em 1em;
    padding-bottom: 0;
    border-left: 1px dotted yellowgreen;
    border-top: 1px dotted yellowgreen;
}

.news-category {
    color: #333;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.news-title {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.article-title {
    border-top: 4px dashed yellowgreen;
    color: #333;
    font-size: 2.4em;
    font-weight: bold;
    margin: 2em 0.25em 0.25em;
    padding-top: 0.5em;
}

a.article-ext-lnk {
    font-size: 0.5em;
    text-decoration: none;
}

.article-subtitle {
    color: #333;
    font-size: 1.6em;
    margin-bottom: 0.25em;
}

.article-author-creationdate {
    color: red;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.article-specs {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 1em;
}

.article-specs-item {
    margin-right: 0.5em;
}

.article-headercontent {
    font-weight: bold;
    border-bottom: 1px solid #333;
    margin-bottom: 0.75em;
    padding-bottom: 0.75em;
    line-height: 1.5em;
}

.article-content {
    border-left: 1px dotted lightblue;
    border-top: 1px dotted lightblue;
    padding-left: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.news > .article-content {
    border-left: 0;
    border-top: 0;
    margin-top: 0;
    padding-top: 0.5em;
}

.article-encadre {
    background-color: #EEE;
    padding: 1em 0.5em;
    margin: 1em 0;
    border-bottom: 1px double gray;
    border-top: 1px double gray;
}

.article-opinion, .article-state {
    border-bottom: 1px solid deeppink;
    border-left: 1px solid deeppink;
    max-width: 474px;
    margin-bottom: 1em;
}

.article-state {
    border-bottom-color: dodgerblue;
    border-left-color: dodgerblue;
}

@media (max-width: 474px) {
    .article-opinion, .article-state {
        max-width: none;
    }
}

.article-opinion-title, .article-state-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 1em;
}

.article-opinion-content, .article-opinion-score-text, .article-state-content {
    font-size: 0.85em;
    font-weight: bold;
    margin: 1em;
}

.article-opinion-score-text, .article-state-score-text {
    font-weight: normal;
}

.article-opinion-score, .article-state-score {
    margin-bottom: 0;
    margin-left: 0;
}

.article-opinion-score-number, .article-state-score-value {
    background-color: deeppink;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 0.5em;
    margin-right: 1em;
}

.article-state-score-value {
    background-color: dodgerblue;
}

.article-pictures {
    margin: 2em 0.5em;
}

.article-picture-box {
    border: 1px dashed #BBB;
    display: inline-block;
    max-width: 200px;
    margin: 1px;
}

.article-pictures-tip {
    color: #555;
    font-size: 0.8em;
    font-style: italic;
    margin: 1em;
}

.article-picture > img {
    max-width: 200px;
    max-height: 150px;
    margin: 1px;
    padding: 0;
    cursor: pointer;
    display: block;
}

.article-picture-legend {
    color: #555;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.article-gamelink-title {
    color: #555;
    font-size: 0.9em;
    font-weight: bold;
}

.article-gamelink-title-lnk > a, .article-gamelink-title-lnk > a:hover, .article-gamelink-title-lnk > a:visited {
    color: #555;
    font-size: 0.9em;
    margin-left: 1em;
}

.toc-footer {
    margin: 2em 1em 1em;
    font-size: 0.8em;
    vertical-align: top;
}

.toc-footer-elt {
    display: inline-block;
    background-color: #FFE;
    color: #333;
    margin: 0.3em;
    padding: 0.3em;
    max-width: 300px;
}

.toc-fun-pic {
    float: left;
    margin: 0.1em;
    padding: 0.1em;
}

#fun-pic-night {
    display: none;
}

.toc-footer-elt a, .toc-footer-elt a:hover, .toc-footer-elt a:visited {
    color: red;
    text-decoration: none;
}

.edito-cover-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.first-letter {
    font-size: 1.3em;
    font-weight: bold;
}
